// Media Query
$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

// Colors
$redColor: #e2494c;
$grayColor: #9c9c9c;
$upGray: #525252;
$backColor: #e2e2e2;

// Float
$float-left: left;
$float-right: right;

// Main Styles Of Main Border In Pages
$MianBordrStyle: solid;
$MainBordrWidth: 3px;
$MainBordrColor: #333;

// Text
$text-right: right;
$text-left: left;